/* MEDIA QUERIES */

$xs-only: '(max-width: 374px)'; // small mobile devices
$mobile: '(max-width: 767px)'; // all mobile devices
$sm-down: '(max-width: 1024px)'; // tablet and mobile devices
$sm-only: '(min-width: 768px) and (max-width: 1024px)'; // only tablet devices
$md-up: '(min-width: 1025px)'; // all desktop devices
$md-only: '(min-width: 1025px) and (max-width: 1439px)'; // only medium desktop devices:  1170, 1280, 1366 pixiles
$md-down: '(max-width: 1439px)'; // medium desktop, tablet and mobile devices
$lg-only: '(min-width: 1440px)'; // only large desktop devices: 1440, 1680, 1920 pixiles etc.